*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-text-primary-light);
    overflow-x: hidden;
}

/*classes voor interacties*/

.hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.remove-flow{
    position: absolute;
}

.active-step{
    opacity: 1;
    visibility: visible;
    pointer-events: inherit;
}

.blur{
    filter: blur(4px);
    pointer-events: none;
    user-select: none;
}

.center{
    position: fixed;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header{
    background-color: var(--color-secondary);
    padding: 1rem 3.7rem;
    position: sticky;
    z-index: 100;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .civic-logo{
        height: 21px;
        transition: ease-in 0.5s;

        @media (min-width:620px){
            height: 32px;
            max-width: 660px;
        }
    }

    .logo-text{
        position: absolute;
        left: 3rem;
        top: 1.4rem;
        font-family: var(--font-family-sans);
        font-size: var(--font-size-h3);
        color: var(--color-primary);
        transition: ease-in 1s;
    }

    button{
        transform: translateY(85%);
        svg{
            width: 2.8rem;
            aspect-ratio: 1;
        }
    }

    nav{
        position: absolute;
        height: 100vh;
        width: 100vw;
        border: none;
        max-width: 600px;
        overflow: auto;
        right: 0;
        top: 0;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition: transform 0.3s ease;
        transform: translateX(0); 

        @media (min-width:620px){
            width: 75vw;
        }

        &.hidden{
            transform: translateX(100%);
        }

        button{
            position: absolute;
            right: 3.7rem;
            top: 1rem;
            svg{
                transition: 0.2s ease-out; 
                &:hover{
                    transform: rotate(-90deg);
            }
            }
            
        }

        ul{
            list-style-type: '';
            padding: 10rem 4rem;

            li{
                font-family: var(--font-family-heading);
                padding: 0.8rem;
                font-size: var(--font-size-p-xl);
                font-weight: var(--font-weight-light);
                letter-spacing: 0.1em;
                a{
                    text-decoration: none;
                    color: var(--color-text-primary);
                    transition: var(--transition-2);
                    &:hover{
                        color: var(--color-highlight);
                    }
                }
            }
        }

        .upper-nav{
            background-color: var(--color-primary);
            flex: 8;
        }
        .lower-nav{
            padding: 5rem 4rem;
            background-color: var(--color-text-secondary);
            flex: 2;
        }
    }
}

.hero-section{
    background-color: var(--color-primary);
    position: relative;
    img{
        display: block;
        width: 100%;
        aspect-ratio: 16/7;
        object-fit: cover;
        object-position: 0px -120px;
        padding: 3rem;
    }

    .hero-text{
        display: flex;
        flex-wrap: wrap;
        h1{
            /*opmaak*/
            font-family: var(--font-family-heading);
            font-size: clamp(2.2rem, 6vw, 5.5rem);
            font-weight: var(--font-weight-normal);
            line-height: 0.7;
            text-transform: uppercase;

            /*positionering*/
            position: relative;
            margin-top: -11rem;
            padding: 3rem;

            .hero-title-line{
                display: block;
                width: max-content;
                background-color: var(--color-highlight);
                padding: 1.5rem;

                &:first-child{
                    outline: 0.3em solid var(--color-primary);
                }

                &:last-child{
                    position: relative;
                    margin-left: 11rem;
                }
            }
        }

        p{
            font-family: var(--font-family-sans);
            font-size: var(--font-size-p-xl);
            color: var(--color-highlight);
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            margin-top: -1rem;
            letter-spacing: 0.1em;
            z-index: 10;
        }
    }
    &::after{
        position: absolute;
        margin-top: -1px;
        content: '';
        width: 100vw;
        height: 20vh;
        background: var(--color-primary);
        clip-path: polygon(
            0 0,
            100% 0,
            50% 100%
            );
    }
}

.introduction-section{  
    .background-dots{
        position: relative;
        img{
            position: absolute;
            z-index: -999;
            top: 15rem;
            width: 60rem;
            &:first-of-type{
                transform: rotate(-90deg);
                left: -15rem;
            }
            &:last-of-type{
                transform: rotate(90deg);
                right: -15rem;
            }
        }
    }
    .intro-blokken{
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
        padding: 20rem 3rem 5rem;
        line-height: var(--line-hight-xl);
    }
    .intro-blok{
        background-color: var(--color-primary);
        padding: 2rem;
        max-width: 60rem;
        h3{
            color: var(--color-text-primary-dark);
        }
        hr{
            border: solid 2px;
            color: var(--color-text-secondary-dark);
            margin-bottom: 1rem;
        }
        p{
            color: var(--color-text-primary-light);
            padding: 2rem 0rem;
            font-family: var(--font-family-sans);
            font-size: var(--font-size-p-xl);
        }
        
    }
    .filter-blok{
        background-color: var(--color-highlight);
        padding: 7rem 2rem 0rem;
        max-width: 20rem;
        h3{
            font-size: var(--font-size-p-m);
        }
        
        button{
            margin-top: 2.5rem;
            padding: 1rem 2rem;
            font-size: var(--font-size-p-l);
        }
    }
    .overzicht-blok{
        background-color: var(--color-secondary);
        padding: 2rem;
        border: 0.5rem solid var(--color-primary);
        
        a{
            color: var(--color-text-secondary-dark);
            font-family: var(--font-family-sans);
            display: flex;
            flex-direction: column;
            align-items: center;
            svg{
                height: 2.5rem;
                width: 2.5rem;
                margin-top: 1rem;
            }
        }
    }


    @media (min-width:800px) {
        grid-template-columns: 1fr 1fr;
        .intro-blok{
            grid-column: span 2;
        }
    }
    @media (min-width:1200px) {
        .intro-blokken{
            display: flex;
            justify-content: center;
        }
    }
    
}

.filter-section{
    position: absolute;
    z-index: -1;
    .filter-popup{
        background-color: var(--color-secondary);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        height: 80vh;
        .p-h1{
            font-size: var(--font-size-h1);
            font-family: var(--font-family-heading);
            color: var(--color-primary);
            font-weight: var(--font-weight-semibold);
            margin:0 0 .6em;
        }

        .pop-up-top{
            .progressbar{
                display: flex;
                gap: 1rem;
                .bar{
                    background-color: var(--color-secondary);
                    width: 15vw;
                    height: 1.5vh;
                    &.fill{
                        background-color: var(--color-primary);
                    }
                }
            }
            button.close-filters{
                position: absolute;
                right: 3rem;
                top: 3rem;
                padding: 0.3rem;
                svg{
                    transition: 0.2s ease-out; 
                    &:hover{
                        transform: rotate(-90deg);
                    }
                }
            }
        }
        form{
            background-color: var(--color-text-primary);
            border: none;
            position: relative;
            legend{ 
                color: black;
                font-size: 1.4rem;
            }
            fieldset{
                position: absolute;
            }
        }
        .pop-up-bottom{
            margin-top: 12rem;
            display: flex;
            justify-content: space-between;
            padding: 0rem 2.5rem;
            button{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0.3rem;
            }
        }
    }
}

main{
    display: flex;
}

aside{
    display: none;
    @media screen and (min-width:1400px) {
        display: block;
        margin-top: 13rem;
        border-right: 3px solid var(--color-text-secondary-dark);
        border-top: 3px solid var(--color-text-secondary-dark);
        padding: 2rem;
    }
    .filter-count{
        font-family: var(--font-family-sans);
        font-size: var(--font-size-h3);
    }
    button{
        padding: 0.5rem;
        margin-top: 2rem;
    }
} 

.article-section{
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(0.5rem, 2vw, 2rem);
    padding: 3rem 3rem;
    margin-top: 15rem;
    position: relative;
    margin-bottom: 10rem;

    @media screen and (min-width:900px) {grid-template-columns: 1fr 1fr; padding: 3rem 5rem;}
    @media screen and (min-width:1400px) {grid-template-columns: 1fr 1fr 1fr; padding: 3rem 2rem;}
    h2{
        position: absolute;
    }
    .article-count{
        position: absolute;
        border-top: 3px solid var(--color-text-secondary-dark);
        width: 100%;
        padding: 1rem 5rem;
        margin-top: -2rem;
        font-family: var(--font-family-serif);
        font-size: var(--font-size-p-xl);
        @media screen and (min-width:1400px) { padding:1rem 2rem;}
    }
    article{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative;
        margin-bottom: 3rem;

        figure{
            overflow: hidden;
            aspect-ratio: 16/10;
            img{
                width: 100%;
                height: 100%;
                transition: var(--transition-1);
                object-fit: cover;
            }
        }

        .article-text{
            padding: 1rem;
            h3{
                font-family: var(--font-family-sans);
                letter-spacing: 0.03em;
                transition: var(--transition-1);
                line-height: var(--line-hight-m);
                mark{
                    background-color: inherit;
                    transition: ease-in-out 0.5s;
                }
                
            }
            ul{
                display: flex;
                gap: 1.5rem;
                color: var(--color-text-secondary-light);
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
            li:first-child{
                list-style-type: '';
            }
            p{
                line-height: var(--line-hight-l);
                font-size: var(--font-size-p-s);
                color: var(--color-text-secondary-dark);
                margin-bottom: 1.5rem;
            }
        }

        a{
            position: absolute;
            bottom: 0;
            left: 0;
            padding-top: 2rem;
            padding-left: 1rem;
            text-decoration: none;
            color: var(--color-text-secondary-light);
            font-style: italic;
            font-family: var(--font-family-serif);
            font-weight: var(--font-weight-light);

            svg{
                transition: ease-in 0.5s;
                opacity: 0;
                position: absolute;
                margin-left: -0.5rem;
            }
        }

        &:hover{
            .article-text h3 mark{ /*niet van mij */ /*niet van mij */ /*niet van mij */ /*niet van mij */ /*niet van mij */ /*niet van mij */
                background: linear-gradient(to left, var(--color-text-secondary-dark) 50%, transparent 50%); 
                color: var(--color-text-primary-light); 
                background-size: 200% 100%; 
                background-position: -100%; 
                transition: background-position 0.7s ease-out; 
                display: inline; 
                box-decoration-break: clone;
                -webkit-box-decoration-break: clone; /* voor Chrome/Safari */
            }
            svg{
                opacity: 1;
                margin-left: 0.2rem;
            }
        }
    }
    button{
        position: absolute;
        bottom: 0;
        padding: 1rem;
        margin-left: 3rem;
    }
}

footer{
    display: flex;
    flex-direction: column;
    
    .upper-footer{
        background-color: var(--color-text-secondary);
        padding: 3rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 5rem;

        @media screen and (min-width:800px){
            grid-template-columns: 1fr 1fr;
        }

        .project-info{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            max-width: 500px;
            h4{
                padding-bottom: 0.5em;
                text-shadow: 0 2px 2px rgba(0, 0, 0, 0.993);
            }
            p{
                color: var(--color-text-primary);
                padding-bottom: 0.5em;
                &:nth-of-type(2){
                    padding-bottom: 1.5em;
                }
            }
            img{
                width: 25em;
                padding-top: 1rem;
                margin-left: -0.7rem;
            }
        }
        .community-info{
            max-width: 500px;
            h5{
                text-shadow: 0 2px 2px rgba(0, 0, 0, 0.993);
                padding-bottom: 0.5em;
            }
            p{
                color: var(--color-text-primary);
                line-height: var(--line-hight-m);
                padding-bottom: 1.5em;
            }
            form{
                background-color: black;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                max-width: 400px;
                label{
                    flex: 1;
                }
                input{
                    padding: 0.2em;
                }
                button{
                    padding: 0.2em;
                }
            }
        }
    }
    
    .lower-footer{
        background-color: var(--color-primary);
        padding: 3rem;
        h4{
            color: var(--color-text-primary);
            margin-bottom: 3em;
        }
        ul{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            list-style-type: '';
            justify-content: center;
            text-align: center;
            
            @media screen and (min-width:850px) {
                grid-template-columns: repeat(5, 1fr);
            }
            img{
                width: 150px;
            }
        }
        
    }
}


/*---------------------------------------------deatail pagina-----------------------------------------------*/

p a{
    color: var(--color-highlight);
}

.hero-section-detail-page{
    background-color: var(--color-highlight);
    height: 50vh;
    padding: 2rem 5rem;
    h1{
        margin: 2rem 5rem 0.2rem 5rem;
    }
    ul{
        display: flex;
        margin-left: 5rem;
        gap: 1.5rem;
        color: var(--color-text-secondary-light);
        padding-top: 1rem;
        padding-bottom: 1rem;  
    }
    li:first-child{
        list-style-type: '';
    }
}

.main-detail-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        margin-bottom: 2rem;
        margin-top: 2rem;
        max-width: 60rem;
    }
    .download{
        margin-bottom: 3rem;
        .download-svg{
            color: var(--color-error);
        }
        .download-link{
            font-size: var(--font-size-p-s);
            color: var(--color-text-secondary);
        }
    }
    .paragraph{
        line-height: var(--line-hight-l);
        font-size: var(--font-size-p-m);
        max-width: 60rem;
        padding: 0.7rem 0rem;
    }
}

.comment-section{
    background-color: var(--color-highlight);
    height: 50vh; /*dit gaat weg even kijken*/
    padding: 2rem 0;
    form{
        margin: auto;
        width: 50vw;
        background-color: var(--color-highlight);
    }
}