* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}


@font-face {
    font-family: 'Geomanist';
    src: url('../fonts/geomanist-bold.woff') format('woff');
    font-style: normal;
    font-weight: var(--font-weight-semibold);
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather_24pt-Regular.ttf') format('TrueType');
    font-style: normal;
    font-weight: var(--font-weight-light);
}

@layer styleguide {
    :root {
        /* Variabelen Kleuren */
        --color-primary: #0D3951;
        --color-secondary: #EBDAC4;
        --color-tertiary:#3F2C4B;
        --color-highlight: #8BCBBD;
        --color-text-primary: #FFFFFF;
        --color-text-secondary: #121212;
        --color-error: #DB3A1B;

        --color-font-dark: #222222;
        --color-font-normal: #444444;
        --color-font-light: #555555;
        
        /* Variabelen Typografie */
        --font-family-sans:'Geomanist', 'Helvetica Neue', 'Helvetica', sans-serif;
        --font-family-serif:'Merriweather', 'Times', 'Times New Roman', Serif;

        --font-family-heading: var(--font-family-sans);
        --font-family-p: var(--font-family-serif);
        --font-family-p-detailpage: var(--font-family-sans);

        --font-size-h1: 4.5rem;
        --font-size-h2: 3rem;
        --font-size-h3: 2rem;
        --font-size-h4: 1.8rem;
        --font-size-h5: 1.25rem;
            
        --font-size-p-s: 1rem;
        --font-size-p-m: 1.125rem;
        --font-size-p-l: 1.25rem;
        --font-size-p-xl: 1.5rem;
        
        --font-weight-light: 400;
        --font-weight-normal: 500;
        --font-weight-semibold: 600;
        --font-weight-bold: 900;

        --line-hight-s: 1.2;
        --line-hight-m: 1.4;
        --line-hight-l: 1.6;
        --line-hight-xl: 1.8;

        /* Variabelen form */
        --form-hover-color: rgba(0, 0, 0, 0.05);
        

        /* Variabelen button */
        --btn-padding: 0.625em;

        /* Variabelen transitions */
        --transition-1: ease-out 0.15s;
        --transition-2: ease .3s;

    }

    /*---- kleuren ----*/
    .color1{
        background-color: var(--color-primary);
        color: var(--color-text-primary);
    }

    .color2{
        background-color: var(--color-secondary);
    }

    .color3{
        background-color: var(--color-tertiary);
        color: var(--color-text-primary);
    }

    .highlight{
        background-color: var(--color-highlight);
    }

    .text-color-1{
        background-color: var(--color-text-primary);
        border: 1px solid var(--color-text-secondary);
    }
    .text-color-2{
        background-color: var(--color-text-secondary); 
        color: var(--color-text-primary);
    }

    .color-error{
        background-color: var(--color-error);
    }

    /*Heading elements*/
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-family-heading);
        color: var(--color-primary);
        font-weight: var(--font-weight-semibold);
        margin:0 0 .6em;
    }

    h1 {
        font-size: var(--font-size-h1);
    }
    h2 {
        font-size: var(--font-size-h2);
    }
    h3 {
        font-size: var(--font-size-h3);
    }
    h4 {
        font-size: var(--font-size-h4);
    }
    h5 {
        font-size: var(--font-size-h5);
    }

    /*Paragraph elements*/
    p {
        font-family: var(--font-family-p);
        font-weight: var(--font-weight-light);
        font-size: var(--font-size-p-s);
        color: var(--color-text-secondary);
        font-style: normal;
        letter-spacing: .03rem;
    }

    /*List elements*/
    ul {
        font-family: var(--font-family-p);
        font-style: normal;
        font-weight: var(--font-weight-light);
    }
    ol{
        font-family: var(--font-family-p);
        font-style: normal;
        font-weight: var(--font-weight-light);
        line-height: var(--line-hight-l);
    }

     /*---- Formulier styling ----*/
    form {
        display: flex;
        flex-direction: column;

        background-color: var(--color-text-primary);
        border: 2px solid var(--color-primary);
        padding: 1rem;
        color: var(--color-primary);
        font-family: var(--font-family-p-detailpage);

        fieldset {
            border: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
        }

        legend {
            font-weight: var(--font-weight-bold);
            font-size: var(--font-size-p-m);
        }

        label {
            font-weight: var(--font-weight-bold);
            color: var(--color-primary);
            transition: var(--transition-1);
            &.checkbox-label{
                padding: 0.2rem;
                font-size: var(--font-size-p-m);
                &:hover{
                    background-color: var(--form-hover-color);
                }
            }
        }

        input[type="text"],input[type="email"] {
            border-radius: 1px;
            color: var(--color-primary);
            background-color: var(--color-text-primary);
            border: 2px solid var(--color-primary);
            display: inline-block;
            margin: 0 0 24px;
            min-height: 36px;
            min-width: 50px;
            padding: 0 0.4em;
            vertical-align: middle;
            width: 100%;
            transition: var(--form-transition);
            &:hover {
                border-color: var(--color-secondary);
                cursor: pointer;
            }
        }

        input[type="email"] {
            transition: var(--form-transition);
            padding: 0.2em;
            &:hover{
                border-color: var(--color-secondary);
                cursor: pointer;
            }
            &:user-invalid {
                border: 2px solid var(--color-error);
            }
            &:valid {
                border: 2px solid green;
            }
        }

        input[type="checkbox"] {
            transition: var(--form-transition);
            &:checked {
                accent-color: grey;
            }
        }
    }


    /*---- Knoppen styling ----*/

    .btn {
        font-family: var(--font-family-heading);
        font-weight: var(--font-weight-normal);
        font-size: var(--font-size-p-s);
        text-decoration: none;
        line-height: var(--line-hight-s);
        cursor: pointer;
        padding: var(--btn-padding);
        text-align: left;
        vertical-align: middle;
        transition: .5s ease-out;  
    }

    .btn-primary {
        background-color: var(--color-primary);
        border: 2px solid var(--color-primary);
        color: var(--color-text-primary);

        &:hover {
            background-color: var(--color-secondary);
            border-color: var(--color-secondary);
            color: var(--color-primary);
            text-shadow: none;
        }
    }

    .btn-secondary {
        background-color: var(--color-tertiary);
        border: 2px solid var(--color-tertiary); 
        color: var(--color-text-primary);
        &:hover {
            background-color: var(--color-secondary);
            border-color: var(--color-secondary);
            color: var(--color-tertiary);
        }
    }

    .btn-tertiary {
        background-color: var(--color-highlight);
        color: var(--color-text-secondary);
        border: 2px solid var(--color-highlight);
        text-shadow: none;
        &:hover {
            background-color: var(--color-secondary);
            border-color: var(--color-secondary);
            color: var(--color-text-secondary);
            text-shadow: none;
        }
    }

    .btn-option-1 {
        background-color: var(--color-secondary);
        color: var(--color-primary);
        &:hover {
            background-color: var(--color-primary);
            border: 2px solid var(--color-primary);
            color: var(--color-text-primary);
        }
    }
    .btn-option-2 {
        background-color: var(--color-highlight);
        border:2px solid var(--color-text-secondary);
        &:hover {
            background-color: var(--color-secondary);
        }
    }

    .btn-option-3 {
        background-color: var(--color-secondary);
        border-color: var(--color-tertiary);
        color: var(--color-tertiary);
        &:hover {
            background-color: var(--color-tertiary); 
            border: 2px solid var(--color-tertiary); 
            color: var(--color-text-primary);
        }
    }

    .btn-option-4 {
        background-color: var(--color-primary);
        border: 2px solid var(--color-primary);
        color: var(--color-text-primary);
        &:hover {
            background-color: var(--color-secondary);
            color: var(--color-primary);
        }
    }

    .btn-option-5 {
        background-color: var(--color-tertiary);
        border: 2px solid var(--color-tertiary);
        color: var(--color-text-primary);
        &:hover {
            background-color: var(--color-secondary);
            border-color: var(--color-tertiary);
            color: var(--color-tertiary);
        }
    }
    
    .btn-icon {
        border: 5px solid var(--color-text-primary);
        border-radius: 50%;
        color: var(--color-text-secondary);
        background-color: var(--color-text-primary);
        aspect-ratio: 1;
        
        svg {
            height: 30px;
            display: flex;
            justify-content: center;
            vertical-align: center;
        }
 
        &:hover {
            background-color: var(--color-secondary);
            border-color: var(--color-secondary);
            cursor: pointer;
        }
    }

    p a {
        text-decoration: underline;
        text-decoration-color: var(--color-tertiary);
        color: var(--color-tertiary);
        font-style: italic;
        &:hover {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
            background-position: bottom;
            background-repeat: repeat-x;
            background-size: 6%;
            text-decoration: none;
        }
        /*hihihihi https://css-tricks.com/having-fun-with-link-hover-effects/*/
    }

    .link {
        font-family: var(--font-family-p-detailpage);
        font-size: var(--font-size-p-m);
        color: var(--color-text-primary);
        &:hover {
            font-style: italic;
        }
    }
}

